<script src="https://unpkg.com/vue"></script>

<!---------->
<!-- v-if -->
<!---------->

<div id="app1">
    <h1 v-if="ok">Yes</h1>
    <!-- 최종 렌더링에는 template 삭제 -->
    <template v-if="ok">
        <h1>Title</h1>
        <p>Paragraph 1</p>
        <p>Paragraph 2</p>
    </template>
</div>
    <script>
        new Vue({
            el: '#app1',
            data: {
                ok: true        
            }
        })
    </script>
<hr></hr>

<!------------>
<!-- v-else -->
<!------------>

<!-- v-else는 v-if, v-else-if 뒤에 있어야 할 것. -->
<div id="app2">
    <div v-if="Math.random() > 0.5">
        0.5 보다 크네
      </div>
      <div v-else>
        0.5 보다 작거나 같네
    </div>
</div>
    <script>
        new Vue({
            el: '#app2'
        })
    </script>
<hr></hr>

<!--------------->
<!-- v-else-if -->
<!--------------->

<div id="app3">
    <div v-if="type === 'A'">
        A
    </div>
    <div v-else-if="type === 'B'">
        B
    </div>
    <div v-else-if="type === 'C'">
        C
    </div>
    <div v-else>
        Not A/B/C
    </div>
</div>
    <script>
        new Vue({
            el: '#app3',
            data:{
                type: "B"
            }
        })
    </script>
<hr></hr>

<!--------------------------------->
<!-- key를 이용한 속성 재사용 제어 -->
<!--------------------------------->

<div id="app4">
    <!-- without key -->
    <template v-if="loginType1 === 'username'">
        <label>사용자 이름</label>
        <input placeholder="사용자 이름을 입력하세요">
    </template>
    <template v-else>
        <label>이메일</label>
        <input placeholder="이메일 주소를 입력하세요">
    </template>
    <button v-on:click="ChangeLoginType1">로그인 유형 변경</button>
    <br>

    <!-- with key -->
    <template v-if="loginType2 === 'username'">
        <label>사용자 이름</label>
        <input placeholder="사용자 이름을 입력하세요" key="username-input">
    </template>
    <template v-else>
        <label>이메일</label>
        <input placeholder="이메일 주소를 입력하세요" key="email-input">
    </template>
    <button v-on:click="ChangeLoginType2">로그인 유형 변경</button>

</div>
    <script>
        new Vue({
            el: '#app4',
            data:{
                loginType1: 'username',
                loginType2: 'username'
            },
            methods: {
                ChangeLoginType1: function () {
                    return this.loginType1 = this.loginType1 === 'username' ? 'email' : 'username'
                },
                ChangeLoginType2: function () {
                    return this.loginType2 = this.loginType2 === 'username' ? 'email' : 'username'
                }
            }
        })
    </script>
<hr></hr>


<!------------>
<!-- v-show -->
<!------------>

<div id="app5">
    <h1 v-show="ok">안녕하세요!</h1>
</div>
    <script>
        new Vue({
            el: '#app5',
            data:{
                ok: true
            }
        })
    </script>
<hr></hr>

<!-- v-if는 조건이 성립될 때까지 렌더링하지 않습니다. 그리고 조건에 따라 속성 제거와 재생성을 반복합니다. -->
<!-- v-show는 항상 렌더링 됩니다. 안보이는 것뿐.. 그래서 초기 렌더링 비용은 v-show가 높지만, 자주 조건이 바뀔때 좋습니다. -->